@import 'bootstrap/dist/css/bootstrap.min.css';
.hello{
    height: 320px;
    width: 260px;
    border-radius: 10px;
    margin: 50px;
}
body{
    background-color: #e9e9ee;
}
.imgbody{
    display: grid;
    grid-template-columns: auto auto auto ;
    place-items: center;
    text-align: center;
}
.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}